<!-- app/core/main/main.html -->

{% extends "core/base/base.html" %}

{% block title %}Главная - СУДПО{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ 'core/main/toolbar/toolbar.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/subheader/subheader.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/cards/cards.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/cards/card/card.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/cards/card/folder/folder.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/cards/card/table/table.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/cards/card/module/module.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/modules/modules.css'|static }}">
    <link rel="stylesheet" href="{{ 'core/main/permissions/permissions.css'|static }}">
    {% if is_superadmin is false %}
        <style>
            .core-main-toolbar,
            .core-base-subheader {
                display: none !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block toolbar %}
    {% include "core/main/toolbar/toolbar.html" %}
{% endblock %}

{% block subheader %}
    {% include "core/main/subheader/subheader.html" %}
{% endblock %}

{% block content %}
    {% include "core/main/cards/cards.html" %}
    {% include "core/main/modules/modules.html" %}
{% endblock %}

{% block external_js %}
    {# Toolbar #}
    <script src="{{ 'core/main/toolbar/toolbar.js'|static }}"></script>
    
    {# Modules #}
    <script src="{{ 'core/main/modules/modules.js'|static }}"></script>
    
    {# Permissions #}
    <script src="{{ 'core/main/permissions/permissions.js'|static }}"></script>
    
    {# Сначала все вспомогательные классы (folder, table, module) #}
    <script src="{{ 'core/main/cards/card/folder/folder.js'|static }}"></script>
    <script src="{{ 'core/main/cards/card/table/table.js'|static }}"></script>
    <script src="{{ 'core/main/cards/card/module/module.js'|static }}"></script>
    
    {# Потом классы #}
    <script src="{{ 'core/main/cards/js/events.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/list.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/create.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/delete.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/edit.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/restore.js'|static }}"></script>
    <script src="{{ 'core/main/cards/js/restores.js'|static }}"></script>
    <script src="{{ 'core/main/cards/card/card.js'|static }}"></script>
    
    {# Main cards class #}
    <script src="{{ 'core/main/cards/cards.js'|static }}"></script>
    
    {# Main index #}
    <script src="{{ 'core/main/index.js'|static }}"></script>
{% endblock %}

{% block js %}
    {# Встроенные JS модули, если нужны #}
{% endblock %}
