# .env_example

# Основные
APP_HOST=127.0.0.1
APP_PORT=9035
DEBUG=True

# CORS разрешённые источники (через запятую)
CORS_ORIGINS=http://127.0.0.1:8085,http://localhost:8085

# База данных MariaDB (MySQL)
# Формат: mysql+aiomysql://user:password@host:port/database?charset=utf8mb4
DATABASE_URL=СТРОКА_ПОДКЛЮЧЕНИЯ

# JWT авторизация
SECRET_KEY=ВАШ_СЕКРЕТ
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Пользователи (формат JSON)
# Ключ: логин, значение: id пользователя
USERS={"smirnov-av": 1, "novoselov-aa": 12, "savosko-sv": 18955779, "popova-ns": 18662403, "yakimova-el": 35}

# Доступы
CORE_CRM_ISSUE_DAYS = smirnov-av  novoselov-aa savosko-sv popova-ns yakimova-el kuzmina-ov kim-km
CORE_SUDPO_ISSUE_THEMCOMP = smirnov-av novoselov-aa savosko-sv popova-ns yakimova-el 
CORE_TEACH_SFR = smirnov-av novoselov-aa popova-ns yakimova-el filial erokhin-lv burnashova-nu chuvakina-iv

# Режим разработки
DEVELOP=True

## ОТЧЕТ ЕФС
### Данные организации
EFS_ORG_INN=
EFS_ORG_CPP=
EFS_ORG_UC_NAME=Учебный центр «Россети Урал»
EFS_ORG_CH_NAME=Филиал Учебного центра «Россети Урал» - «Челябинский»
### Регистрационный номер организации в системе СФР
EFS_ORG_CODE=1101656559
EFS_FSR_CODE=075033
### Код по Общероссийскому классификатору видов экономической деятельности (ОКВЭД)
EFS_ORG_OKVED=85.42
### Телефон и адрес электронной почты организации
EFS_ORG_PHONE=73433591418
EFS_ORG_EMAIL=Perminova-EL@rosseti-ural.ru
### Статус застрахованного лица (код категории застрахованного лица)
EFS_ORG_STATE=ГРФ
### Код страны гражданства по классификатору (643 — Россия)
EFS_ORG_COUNTRY=643
### Код типа мероприятия (значение 9 соответствует определённому типу кадрового события)
EFS_ORG_TYPE=9
### Код вида формы (внутренний классификатор организации)
EFS_ORG_VF=ДГПХ
### Код по Общероссийскому классификатору занятий (ОКЗ)
EFS_ORG_OKZ=2357.7
EFS_LEAD_UC_FIO=Савосько Сергей Владимирович
EFS_LEAD_UC_PROF=Директор
EFS_LEAD_CH_FIO=Попова Наталья Сергеевна
EFS_LEAD_CH_PROF=Заместитель директора - директор филиала «Челябинский»
### Наименование основания для проведения мероприятия (описание типа договора/события)
EFS_ORG_REASON="Договор гражданско-правового характера"
EFS_PROG="ПК АВАСОФТ знания 2.0"
### Часовой пояс организации 
EFS_TZ_REGION = Asia/Yekaterinburg