/* app/core/base/base.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

.core-base {
    font-family: 'PFDin', system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'PFDin';
    src: url('/static/code/base/fonts/PFDin/PFDinMedium/PFDinMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
