<!-- app/core/node/index/cards/card/card.html -->

<div class="core-node-index-card">
    <div class="modal-container">
        <div class="modal-tabs">
            <div class="modal-tab active" data-tab="folder">Папка</div>
            <div class="modal-tab" data-tab="table">Таблица</div>
            <div class="modal-tab" data-tab="module">Модуль</div>
        </div>
        
        <div class="modal-content">
            <div class="tab-content tab-folder active">
                {% include "core/node/index/cards/card/folder/folder.html" %}
            </div>
            <div class="tab-content tab-table">
                {% include "core/node/index/cards/card/table/table.html" %}
            </div>
            <div class="tab-content tab-module">
                {% include "core/node/index/cards/card/module/module.html" %}
            </div>
        </div>
        
        <div class="modal-buttons">
            <button class="modal-btn modal-btn-cancel">Отмена</button>
            <button class="modal-btn modal-btn-save">Сохранить</button>
        </div>
    </div>
</div>
